<div class="container-fluid general-bar">
  <div>
    <a href="">
      <img src="../assets/images/arrow-left-solid.svg" alt="">
    </a>
    <p>
      Certificaciones
    </p>
  </div>
</div>

<div class="container rectangle">
  <div class="card">
    <div class="encabezado container">
      <h3>Certificaciones</h3>
      <p>En caso de contar con certificaciones de tus productos, agregalas aquí.</p>
    </div>
    <div class="card-body">
      <div class="producto">
        <div>
          <img src="../assets/images/tomatos1.png" alt="">
          <p>
            Tomate <br>
            <span>
              Saladete
            </span>
          </p>
        </div>

        <div class="add-cert">
          <p>
            Agregar certificación
          </p>
          <a href="">
            <img src="../assets/images/plus-solid.svg" alt="">
          </a>
        </div>
      </div>
      <div class="certificaciones">
        <p>
          Certificación USDA
        </p>
        <p>
          Certificación NOMs
        </p>
        <p>
          Certificación Fair Trade
        </p>
        <a class="mas">
          y 2 mas
        </a>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="producto">
        <div>
          <img src="../assets/images/tomatos2.png" alt="">
          <p>
            Tomate <br>
            <span>
              Saladete bola
            </span>
          </p>
        </div>

        <div class="add-cert">
          <p>
            Agregar certificación
          </p>
          <a href="">
            <img src="../assets/images/plus-solid.svg" alt="">
          </a>
        </div>
      </div>
      <div class="certificaciones">
        <div>
          <p class="no-cert">
            Este producto no tiene certificaciones
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="producto">
        <div>
          <img src="../assets/images/cow.png" alt="">
          <p>
            Bovino <br>
            <span>
              Vaca Lechera
            </span>
          </p>
        </div>

        <div class="add-cert">
          <p>
            Agregar certificación
          </p>
          <a href="">
            <img src="../assets/images/plus-solid.svg" alt="">
          </a>
        </div>
      </div>
      <div class="certificaciones">
        <div>
          <p class="no-cert">
            Este producto no tiene certificaciones
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="producto">
        <div>
          <img src="../assets/images/rise.png" alt="">
          <p>
            Arroz <br>
            <span>
              Integral
            </span>
          </p>
        </div>

        <div class="add-cert">
          <p>
            Agregar certificación
          </p>
          <a href="">
            <img src="../assets/images/plus-solid.svg" alt="">
          </a>
        </div>
      </div>
      <div class="certificaciones">
        <div>
          <p class="no-cert">
            Este producto no tiene certificaciones
          </p>
        </div>
      </div>
    </div>
  </div>
</div>